


 <div class="container-fluid">
  <div class="row">
    
<!--     <div class="nav-header" style="margin-left:15px">
      <img alt="image"  src="../assets/images/logoEsprit.png" width="200px" height="150px">

    </div> -->
    <div class="container-fluid">
      <div class="header" style="background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 51%, rgba(254,254,254,1) 100%);border-radius:10px">

      <div class="header-content" *ngIf="token">
        <nav class="navbar navbar-expand">
          <div class="collapse navbar-collapse justify-content-between">
            <div class="header-left">
              <img alt="image"  src="../assets/images/logoHDESPRIT.png" width="300px" height="100px">
              <!-- <div class="nav-item">
                <div class="input-group search-area">
                  <input type="text" class="form-control" placeholder="Search here">
                  <span class="input-group-text"><a ><i
                        class="flaticon-381-search-2"></i></a></span>
                </div>
              </div> -->
            </div>
            <ul class="navbar-nav header-right">
              <li class="nav-item recipe">
                <a class="btn btn-primary btn-rounded" href="http://localhost:4203/auth" (click)="disconnect()">Log out</a>
              </li>


            </ul>
          </div>
        </nav>
      </div>
    </div>
  
</div>

</div>
  <div class="row">
    <div class="col-3">
      <div class="deznav" style="metismenustyle">
        <div class="deznav-scroll" *ngIf="token">
          <ul class="metismenu scrollable-ul" id="menu" >
            <ul aria-expanded="false" >
        
            <li><a routerLink="/booth" 
                style="color: white; font-size: 18px;" 
                onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">	<mat-icon> map</mat-icon>Booths placement</a> </li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/supplier" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>shopping_basket</mat-icon>    Add a supplier request</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/boothDashboard" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';" ><mat-icon>search</mat-icon>Supply Requests Table </a></li>
            </ul>
              <ul aria-expanded="false">
                <li><a style="color: white; font-size: 18px;"  routerLink="/viewPack" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">	<mat-icon>view_carousel</mat-icon>View Pack</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/viewRooms" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>room_service</mat-icon> View Rooms</a></li>
                <li><a style="color: white; font-size: 18px;" routerLink="/checkPayments" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>credit_card</mat-icon> Ckeck Out Payment</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/packSalesPerYear" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon> assessment</mat-icon>Payment Statistics</a></li>
              </ul>
              <ul aria-expanded="false">
                <li><a style="color: white; font-size: 18px;"  routerLink="/admin/offers" onmouseover="this.style.color='black'; " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>assignment_ind</mat-icon> Offers</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/admin/stat" onmouseover="this.style.color='black'; " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"> <mat-icon> assessment</mat-icon>Offre Statistics </a></li>
              </ul>
            <ul aria-expanded="false">
              <li><a style="color: white; font-size: 18px;"  routerLink="/Eventlist" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>view_list</mat-icon>Event List</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/stats" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon> assessment</mat-icon> Event Statistics</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/events/create" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';"><mat-icon>add_to_queue</mat-icon>Create events</a></li>
            
            </ul>
            <ul aria-expanded="false">
              <li><a style="color: white; font-size: 18px;"  routerLink="/chatBot" onmouseover="this.style.color='black';  " 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';" ><mat-icon>assistant</mat-icon>ChatBot</a></li>
             
            
            </ul>
          </ul>
        </div>
      </div>
    </div>
    
    
    
   <div class="col-9" style="margin-top: 120px; margin-left: -50px;">

    <router-outlet ></router-outlet>
</div>
</div>

      

  </div> 
