


 <div class="container-fluid">
  <div class="row">
    
<!--     <div class="nav-header" style="margin-left:15px">
      <img alt="image"  src="../assets/images/logoEsprit.png" width="200px" height="150px">

    </div> -->
    <div class="container-fluid">
      <div class="header" style="background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 51%, rgba(254,254,254,1) 100%);border-radius:10px">

      <div class="header-content" *ngIf="token">
        <nav class="navbar navbar-expand">
          <div class="collapse navbar-collapse justify-content-between">
            <div class="header-left">
              <img alt="image"  src="../assets/images/logoHDESPRIT.png" width="300px" height="100px">
              <!-- <div class="nav-item">
                <div class="input-group search-area">
                  <input type="text" class="form-control" placeholder="Search here">
                  <span class="input-group-text"><a ><i
                        class="flaticon-381-search-2"></i></a></span>
                </div>
              </div> -->
            </div>
            <ul class="navbar-nav header-right">
              <li class="nav-item recipe">
                <a class="btn btn-primary btn-rounded" href="http://localhost:4203/auth" (click)="disconnect()">Log out</a>
              </li>


            </ul>
          </div>
        </nav>
      </div>
    </div>
  
</div>

</div>
  <div class="row">
    <div class="col-3">
      <div class="deznav" style="background: radial-gradient(circle, rgba(250,249,255,1) 0%, rgba(174,0,0,1) 83%, rgba(249,131,131,1) 100%); margin-top:20px;border-radius:10px;height:700px;">
        <div class="deznav-scroll" *ngIf="token">
          <ul class="metismenu scrollable-ul" id="menu" >
            <ul aria-expanded="false">
              <li><a routerLink="/booth" 
                style="color: white; font-size: 18px;" 
                onmouseover="this.style.color='black'; this.style.fontSize='22px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Booths placement</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/supplier" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Add a supplier request</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/boothDashboard" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';" >Supply Requests Table </a></li>
            </ul>
              <ul aria-expanded="false">
                <li><a style="color: white; font-size: 18px;"  routerLink="/viewPack" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">viewPack</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/viewRooms" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">viewRooms</a></li>
                <li><a style="color: white; font-size: 18px;" routerLink="/checkPayments" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">ckeckOutPayment</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/packSalesPerYear" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Statics</a></li>
              </ul>
              <ul aria-expanded="false">
                <li><a style="color: white; font-size: 18px;"  routerLink="/admin/offers" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Offers</a></li>
                <li><a style="color: white; font-size: 18px;"  routerLink="/admin/stat" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Stats</a></li>
              </ul>
            <ul aria-expanded="false">
              <li><a style="color: white; font-size: 18px;"  routerLink="/Eventlist" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Event List</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/stats" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Stats</a></li>
              <li><a style="color: white; font-size: 18px;"  routerLink="/events/create" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';">Create events</a></li>
            
            </ul>
            <ul aria-expanded="false">
              <li><a style="color: white; font-size: 18px;"  routerLink="/chatBot" onmouseover="this.style.color='black'; this.style.fontSize='20px';" 
               onmouseout="this.style.color='white'; this.style.fontSize='18px';" >ChatBot</a></li>
             
            
            </ul>
          </ul>
        </div>
      </div>
    </div>
    
    
    
   <div class="col-9" style="margin-top: 120px; margin-left: -50px;">

    <router-outlet ></router-outlet>
</div>
</div>

      

  </div> 
