<h1>
	Events Create</h1>

<p>
	Creating</p>


<button type="button" class="btn btn-secondary rounded-pill" (click)="goToEventDisplay()">Display</button>
<form [formGroup]="newForm">
	<section class="section">

		<div class="row">
			<div class="col">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">General Form Elements</h5>
						<div class="col" *ngIf="!mainImageAdded; else MainImageFound">
							<div class="alert alert-danger">
								Main Image is Required
							</div>
							<input type="file" (change)="onFileChange($event)">
							<button (click)="onUploadMainImage()" type="submit" class="btn btn-outline-dark" [disabled]="!image">
								<i class="fas fa-upload"></i>
								Upload
							</button>
						</div>
						<ng-template #MainImageFound>
							<div class="col-xs-12">

								<img src="{{mainImage.imageUrl}}" class="card-img-top" alt="Image 1" height="175px">
								<div class="card-body">
									<h4 class="card-title">{{mainImage.name}}</h4>
									<button class="btn btn-danger" (click)="deleteMainImage(mainImage.id)">Delete</button>

								</div>
							</div>
						</ng-template>


						<!-- Single ITEM-->

						<!-- """""""""""""""""""""""""""""""" -->

						<!-- Single ITEM-->
							<div class="row mb-3"> <label for="inputText" class="col-sm-2 col-form-label">Event Name</label>
							<div class="col-sm-3">
								<input type="text" formcontrolname="name" name="name" class="form-control">
							</div>

							<div class="alert alert-danger" *ngIf="Name!.touched && Name!.invalid">

								Event Name is Required

							</div>
							<br>
							<!-- """""""""""""""""""""""""""""""" -->
							<!-- Single ITEM-->
								<div class="row mb-3"> <label for="inputDate" class="col-sm-2 col-form-label">Event Date</label>
								<div class="col-sm-3">
									<input type="date" formcontrolname="date" class="form-control">
								</div>
							</div>
							<div class="alert alert-danger" *ngIf="Date!.touched && Date!.invalid">

								Event Date is Required

							</div>
							<!-- """""""""""""""""""""""""""""""" -->
							<!-- """""""""Radio buttons from type"""""""" -->

							<fieldset class="row mb-3">
								<legend class="col-form-label col-sm-2 pt-0">Type</legend>
								<div class="col-sm-10">
									<div class="form-check" *ngFor="let item of eventType | keyvalue">
										<input class="form-check-input" type="radio" name="type" id="{{item.key}}" value="{{item.key}}" formcontrolname="type">
										<label class="form-check-label" for="{{item.key}}">
											{{item.value}}
										</label>
									</div>

									<div class="alert alert-danger" *ngIf="Type!.touched && Type!.invalid">

										A Type must be Selected

									</div>
								</div>
							</fieldset>
							<!-- """""""""""""""""""""""""""""""" -->
						</div>
					</div>
					<div>
					
					<input type="file" (change)="onFileChange($event)">
					<button (click)="onUploadImages()" type="submit" class="btn btn-outline-dark" [disabled]="!image">
						<i class="fas fa-upload"></i>
						Add To Galery</button>
</div>
					<button type="Submit" class="form-control Submit" (click)="add()" aria-label="Sizing example input" [disabled]="mainImageAdded==false && !newForm.valid">
						<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="uploadingFile"></span>
						Submit Event
					</button>
				</div>
			</div>
		</div>
	</section>
</form>
<!-- FORM END******************************************-->


<div class="container mt-5">
	<div class="row">
		<div class="col-md-4" *ngFor="let image of images">
			<div class="card">
				<img src="{{image.imageUrl}}" class="card-img-top" alt="{{image.name}}">
				<div class="card-body">
					<h5 class="card-title">
						{{image.name}}
					</h5>
				</div>
				<button class="btn btn-danger" (click)="deleteImage(image.id)">Delete</button>
			</div>
		</div>
	</div>
</div>
