<section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">

<div class="col-lg-10">

         

        </div>        

      </div>

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
           
            <div class="form-group mt-3">
              <textarea class="form-control" name="claim" rows="5" placeholder="Claim" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your claim has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Claim</button></div>
          </form>
        </div>

      </div>


      <div class="testimonials">
        <div class="inner">
          <h1>Claims</h1>
          <div class="border"></div>
  
          <div class="row">
            <div class="col">
              <div class="testimonial">
                <img src="p1.png" alt="">
                <div class="name">Full name</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
  
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>
  
            <div class="col">
              <div class="testimonial">
                <img src="p2.png" alt="">
                <div class="name">Full name</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
  
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>
  
            <div class="col">
              <div class="testimonial">
                <img src="p3.png" alt="">
                <div class="name">Full name</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
  
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section><!-- End Contact Section -->
