.custom-border {
    border: 2px solid #ced4da; /* Change border width and color as needed */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.custom-row {
    margin: 10% ;   
}
.accordion-custom{
    width:700px ;
   margin-left:auto ;
   margin-right:auto ;
  
}