<div class="pagetitle">
	<h1>Data Tables</h1>
	<nav>
		<!--  WE NEED TO FIX THESE PATH   -->
		<!--  paladin   -->
			<ol class="breadcrumb"> <li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item">Tables</li>
			<li class="breadcrumb-item active">Data</li>
		</ol>
	</nav>
</div>
<!-- End Page Title -->

<section class="section">
	<div class="row">
		<div class="col-lg-12">

			<div class="card">
				<h5 class="card-title">Event List</h5>
				<div class="card-body">

				

					<!-- Table with stripped rows -->
					<table class="table datatable">


						<thead>
							<tr>
								<th>Image</th>
								<th>Name</th>
								<th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
								<th>Event Type</th>
								<th>View</th>
								<th>Interest</th>
							</tr>
						</thead>
						<!--  add stuff here -->
						<tbody>

							<tr *ngFor="let event of eventList">
								<td>				<img src="{{event.imageUrl}}" class="card-img-top" alt="Image 1" height="175px">
</td>
<a [routerLink]="['/create', event.id]">Navigate to /create/id</a>
								<td> {{event.name}} </td>
								<td > {{event.date}} </td>
								<td> {{event.type}} </td>
								<td> {{event.viewsCounter}} </td>
                                <td> {{event.interestedCounter}} </td>
							</tr>

						</tbody>
						<!-- things -->
					</table>
				</div>

			</div>
		</div>
	</div>

</section>
