.display-flex {
    display: flex;
    margin-left: 40px; /* Adjust the left margin value as needed */
    flex-wrap: wrap;
  }
  
  .display-flex > * {
    margin: 6px; /* Adjust the margin value for direct children as needed */
  }
  
  .blog-box {
    /* Set the width of each card as needed */
    margin: 6px; /* Adjust the margin between cards */
    box-shadow: 0 4px 8px rgba(54, 43, 43, 0.1); /* Add a box shadow to each card */
    /* Additional styling for your cards */
    background-color: rgb(230, 211, 186);
}
.blog-box:hover {
    box-shadow: 0 12px 18px 0 rgba(48, 12, 12, 0.2);
  }

.imageborder{
    border-radius: 25px;
    padding: 10px;
}

.justify-content-between{
    justify-content: space-between;
    padding: 9px;
}
.mdi-heart {
    font-size: 24px;
    color: red;
    /* Add any other styles you want */
}
.mdi-heart-outline {
    font-size: 24px;
    color: grey;
    /* Add any other styles you want */
}