.accordion-body-text {
    padding: 10px;
  }
  
  .subtitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .number {
    display: inline-block;
    width: 1.2em;
  }
  
  .data {
    color: #555;
  }
  .custom-table {
    table-layout: fixed;
    border-collapse: collapse; /* Add this to collapse borders */
}

.custom-table th {
    padding: 5px; /* Adjust this value as needed */
    width: 50%; /* Adjust this value to distribute the space evenly */
    border: 1px solid #000; /* Add borders */
}

.custom-table td {
    padding: 5px; /* Adjust this value as needed */
    width: 50%; /* Adjust this value to distribute the space evenly */
    border: 1px groove #000; /* Add borders */
}

