<section class="section">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Pack</h5>
  
          <form>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Select Pack Type</label>
              <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Category</option>
                  <option value="1">diamond</option>
                  <option value="2">silver</option>
                  <option value="3">standards</option>
                </select>
              </div>
            </div>
  
            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label"
                >Quantity</label
              >
              <div class="col-sm-10">
                <input type="number" class="form-control"   />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label"
                >Price</label
              >
              <div class="col-sm-10">
                <input type="number" class="form-control" />
              </div>
            </div>
  
            <div class="row mb-3">
              <label for="inputColor" class="col-sm-2 col-form-label"
                >Color Pack</label
              >
              <div class="col-sm-10">
                <input
                  type="color"
                  class="form-control form-control-color"
                  id="exampleColorInput"
                  value="#4154f1"
                  title="Choose your color"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword" class="col-sm-2 col-form-label"
                >Pack description</label
              >
              <div class="col-sm-10">
                <textarea class="form-control" style="height: 100px"></textarea>
              </div>
            </div>
  
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add Pack</button>
              </div>
            </div>
          </form>
          
        </div>
        
      </div>
      
    </div>
   
  </section>
  