<div id="Schedule" >
</div>

<div class="card" *ngIf="showForms === true">
    <div class="card-body">
       <h5 class="card-title">Floating labels Form</h5> 

      <!-- Floating Labels Form -->
      <form [formGroup]="AppoimentForm" (ngSubmit)="submit()">
     
        <div class="col-md-12">
            <h5 class="card-title">eventName</h5> 
          <div class="form-floating">
            <input type="text" class="form-control" id="eventName" placeholder="eventName" formControlName="eventName">
            <label for="eventName">eventName</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="receiver" placeholder="receiver" formControlName="receiver">
            <label for="reciever">Reciever</label>
          </div>
        </div>
        <div class="col-md-6">
            <h5 class="card-title">Appointement Start Date</h5> 
          <div class="form-floating">
            <input type="text" class="form-control" id="StartDate" placeholder="Start Date"  [value]="gethouersFN()"     disabled>
            <label for="StartDate">Appointement Start Date</label>
          </div>
        </div>
        <div class="col-md-6">
            <h5 class="card-title">Appointement End Date</h5> 
          <div class="form-floating">
            <input type="text" class="form-control" id="EndDate" placeholder="End Date"  [value]="gethouersFN().toString() +':'+ getMinutsFN().toString()" disabled>
            <label for="EndDate">End Date</label>
          </div>
        </div>
        
   <!--      <div class="col-12">
            <h5 class="card-title">Appointement End Date</h5> 
          <div class="form-floating">
            <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;"></textarea>
            <label for="floatingTextarea">eventName</label>
          </div>
        </div> -->
    <!--     <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingCity" placeholder="City">
              <label for="floatingCity">City</label>
            </div>
          </div>
        </div> -->
    <!--     <div class="col-md-4">
          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="State">
              <option selected>New York</option>
              <option value="1">Oregon</option>
              <option value="2">DC</option>
            </select>
            <label for="floatingSelect">State</label>
          </div>
        </div> -->
        <!-- <div class="col-md-2">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingZip" placeholder="Zip">
            <label for="floatingZip">Zip</label>
          </div>
        </div> -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary" >Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- End floating Labels Form -->
   
    </div>
  </div>
<!-- Waaaaa -->
<!-- // specifies the template string for the Schedule component
template: `<ejs-schedule width='100%' height='550px' [selectedDate]="selectedDate" [eventSettings]="eventSettings"><e-views> <e-view option="Week" startHour="07:00" endHour="15:00"></e-view>
<e-view option="WorkWeek" startHour="10:00" endHour="18:00"></e-view> <e-view option="Month" [showWeekend]="showWeekend"></e-view></e-views></ejs-schedule>`
}) -->