<p>import-file works!</p>

<input type="file" (change)="ReadExcel($event)">
<div  style="width: 50%; margin-left: 20%;">
    <h3 style="text-align: center;" > Excel data</h3>
    <table class="table table-striped">

        <thead>
                <th scope="col"> Block</th>
                <th scope="col"> level</th>
                <th scope="col"> classRoomNumber</th>
                <th scope="col"> start</th>
                <th scope="col"> end</th>
        </thead>




    </table>



</div>