<div  *ngFor="let comment of comments">

  
    <div *ngIf="!(comment.comment.status=='Declined')">
      <div class="process-box">
        <div class="d-flex align-items-center justify-content-start">
          <div class="process-image">
            <div class="avatar forum-profile">
              <!-- Photo profile de user   paladin -->
              <img
                src="../../../assets/images/inner-image/creator/img-1.png"
                alt=""
                class="img-fluid rounded-circle avatar-md"
              />
            </div>
          </div>
          <div class="profile-content ms-3">
            <div class="side-content d-flex">
              <!-- user name    paladin-->
              <h6 class="fw-bold mb-0"> {{comment.comment.userID}} </h6>
              <p class="mb-0 ms-4 text-muted">
                <i
                  class="mdi mdi-clock-outline f-18 me-2 align-middle"
                ></i
                > 
              </p>
            </div>
          </div>
        </div>

        <div class="process-content">
          <p class="text-muted">
            {{comment.comment.comment}}

          </p>
          <div class="d-flex mb-4">
            <div class="like d-flex align-items-center">
              <i class="mdi mdi-thumb-up-outline f-20 text-blue"></i>
              <p class="mb-0 ms-2 fw-semibold text-muted">
              <!--
                  <ngb-rating [max]="5" [rate]="rate.rating" [readonly]="true"></ngb-rating> 
                -->
                {{comment.comment.likesCount}} Like
              </p>
            </div>
            <div class="dislike d-flex align-items-center ms-4">
              <i class="mdi mdi-thumb-down-outline f-20 text-dark"></i>
              <p class="mb-0 ms-2 fw-semibold text-muted">{{comment.comment.dislikesCount}} Dislike</p>
            </div>
            <div class=" d-flex align-items-center ms-4">
             
              <p class="mb-0 ms-2 fw-semibold text-muted" (click)="reply()"> Reply</p>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="forum-form mt-4" *ngIf="replying===true">
        <div class="row d-flex align-items-center justify-content-start">
            <div class="col-sm-2 col-3">
                <div class="avatar forum-profile">
                    <img src="images/inner-image/user/img-2.jpg" alt=""
                        class="img-fluid rounded-circle avatar-md">
                </div>
            </div>
            <div class="col-xl-8 col-md-6 col-5 my-2">
                <form [formGroup]="myform">
                    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="comment"
                        placeholder="Add Your Answer" required="true">
                </form>
            </div>
            <div class="col-2">
                <button class="btn btn-dark" (click)="sendReply(comment)">Answer</button>
            </div>
        </div>
    </div>
      <div *ngIf="comment.list.length!=0">

        <app-comment [comments]="comment.list" [previousComment]="comment.comment"></app-comment>
      </div>

     
    </div>
  </div>