<button mat-icon-button style="float: right; margin: 5px;" matDialogClose>
    <mat-icon aria-label="Close modal">close</mat-icon>
  </button>
  
  <mat-dialog-content style="border-radius: 20px;">
    <header>
      <h1 mat-dialog-title class="dialog-title" style="font-family: 'Roboto', sans-serif; font-size: 25px;font-weight: 700!important; color: #052c65" >Add Post</h1>
    </header>
  
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-icon matSuffix>title</mat-icon>
      <input matInput [(ngModel)]="post.title"  placeholder="Title..." style="width: 100%">
    </mat-form-field>
  
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-icon matSuffix>description</mat-icon>
      <textarea matInput [(ngModel)]="post.descriptionSubject" placeholder="Description" rows="4" style="width: 100%"></textarea>
    </mat-form-field>

    <mat-icon matSuffix>Tag</mat-icon>
    <div class="blog-side-box mb-5 mb-lg-0">

    <div class="items mt-4">
    <div class="tag-box mt-4">
      <span class="badge" >#nft</span>
      </div>
      </div>
      </div>
      <input matInput [(ngModel)]="post.title"  placeholder="Title..." style="width: 100%">

    <div appearance="fill" style="width: 80%">
      <input type="file" placeholder="Upload image" (change)="onFileSelected($event)" style="width: 105%" accept="image/jpeg, image/png">
    </div>


  </mat-dialog-content>
  
  <mat-dialog-actions align="end" style="gap: 10px;">
    <button mat-raised-button color="primary" style="background-color: #052c65;" (click)="savePost()" >Save</button>
    <button mat-raised-button color="warn" style="background-color: #B22222;" matDialogClose>Cancel</button>
  </mat-dialog-actions>
  